.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #363062;
    color: #F5E8C7;
    font-weight: 600;
    font-size: xx-large;
    text-align: center;
}

main {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    gap: 2px;
    align-items: center;
    justify-items: center;
}

.drum {
    width: 100px;
    height: 100px;
    font-size: xx-large;
    font-weight: 600;
    text-align: center;
    background-color: #435585;
    color: #F5E8C7;
    border-color: #818FB4;
    border-width: 20px;
    border-radius: 50%;
}

.tom1 {
    grid-area: 3 / 1 / 4 / 2;
    width: 100px;
    height: 100px;;
}

.tom2 {
    grid-area: 3 / 4 / 4 / 5;
    width: 100px;
    height: 100px;
}

.tom3 {
    grid-area: 3 / 5 / 4 / 6;
    width: 100px;
    height: 100px;
}

.tom4 {
    grid-area: 3 / 8 / 4 / 9;
    width: 100px;
    height: 100px;
}

.crash1 {
    grid-area: 1 / 2 / 3 / 4;
    width: 150px;
    height: 150px;
}

.crash2 {
    grid-area: 1 / 6 / 3 / 8;
    width: 150px;
    height: 150px;
}

.snare1 {
    grid-area: 3 / 2 / 5 / 4;
    width: 200px;
    height: 200px;
}

.snare2 {
    grid-area: 3 / 6 / 5 / 8;
    width: 200px;
    height: 200px;
}

.kickBass {
    grid-area: 5 / 3 / 9 / 7;
    width: 300px;
    height: 300px;
}

footer {
    font-size: large;
}

 